alabaster 
anyio 
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
argh==0.26.2
argon2-cffi 
argon2-cffi-bindings 
arrow 
asn1crypto 
astroid 
astropy 
asttokens 
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4 
binaryornot 
bitarray
bkcharts==0.2
black==19.10b0
bleach 
blinker==1.4
bokeh 
boto==2.49.0
Bottleneck 
brotlipy==0.7.0
cached-property 
certifi==2021.10.8
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
colorama 
contextlib2 
cookiecutter 
cryptography 
cycler 
Cython 
cytoolz==0.11.0
dask 
debugpy 
decorator 
defusedxml 
diff-match-patch 
distlib==0.3.4
distributed 
dnspython==2.2.1
docutils 
email-validator==1.1.3
entrypoints==0.3
et-xmlfile==1.1.0
executing 
fastcache 
filelock 
flake8 
Flask 
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fonttools==4.25.0
fsspec 
future 
gevent 
glob2 
gmpy2 
greenlet 
h5py 
HeapDict 
html5lib 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
inflection==0.5.1
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
Jinja2 
jinja2-time 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
locket 
lxml 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe==0.6.1
mistune 
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
olefile 
openpyxl 
packaging 
pandas==1.4.1
pandocfilters 
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==9.0.1
pkginfo 
platformdirs==2.5.1
pluggy 
ply==3.11
poyo 
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.44.1
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pyls-spyder==0.4.0
pyodbc 
pyOpenSSL 
pyparsing 
PyPDF2==1.26.0
pyrsistent 
PySocks 
pytest==6.2.5
python-dateutil 
python-dotenv==0.20.0
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
pyttsx3==2.90
pytz==2021.3
PyWavelets 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex 
reportlab==3.5.67
requests 
rope 
Rtree 
scipy 
seaborn 
Send2Trash 
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels 
sympy 
tables 
TBB==0.2
tblib 
terminado 
testpath 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss 
toml 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing-extensions 
ujson 
unicodecsv==0.14.1
Unidecode 
urllib3 
virtualenv==20.14.0
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
whichcraft 
widgetsnbextension 
wrapt 
WTForms==3.0.1
wurlitzer 
xlrd 
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
yapf 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
