{% extends "layout.html" %}
{% block content %}  
    <h1>A propos</h1>
<br>
      <p style="text-align: justify;">
          Ce site est entièrement dédié à l’écriture et à la lecture de haiku francophones. Il fournit les (minces) connaissances nécessaires pour démarrer.
<br>
<br>
          Pour commencer à écrire des haiku, il vous suffit de créer un compte. 
<br>
<br>
          Merci de lire avec attention les Consignes pour rafraichir vos connaissances sur les haiku et vous conformer aux règles de modération.
<br>
<br>
          Un Forum est également ouvert pour les utilisateurs.
<br>
<br>
          <em>Dure journée de merde
          <br>
          finira-t-elle seulement ?
          <br>
          Allons, écrivons !</em>
      </p>    
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}



 