{% extends "layout.html" %}
{% block content %}  
    <h1>Consiges</h1> 
<br>
<br>
      <h2>Écrire un Haiku</h2>
<br>
        <p style="text-align: justify;">
           Les consignes que vous trouverez ici sont issues du Petit manuel pour écrire des haïku de Philippe Costa (Éditions Philippe Picquier).
<br>
<br>
Je ne saurais que trop vous recommander cette lecture, d'une part parce qu'elle permet effectivement de se plonger dans le monde des haiku, d'autre part parce qu'elle fait la promotion d'une certaine idée de l'écriture poétique.
<br>
<br>
La 4ème de couverture énonce à grand trait l’esprit du haiku : « Un court poème japonais de seulement 17 syllabes. Un poème des choses banales de la vie quotidienne, des tracas sans lendemain, de la trivialité parfois, mais toutes choses le plus souvent écrites avec humour ».
<br>
<br>
A retenir : <strong>le haiku est avant tout un exercice léger</strong>, la gravité dans le ton conduira non seulement à s’éloigner du genre, mais aussi directement au ridicule.
<br>
<br>
Les contraintes formelles du haiku sont très précises : 17 syllabes, 3 temps représentés par un retour à la ligne après le premier et le deuxième temps, une répartition des syllabes par temps : 5 pour le premier, 7 pour le deuxième et 5 pour le troisième.
<br>
<br>
Sur ce site, il est arbitrairement décidé que les sons « e » en fin de mot ne sont pas comptabilisés comme une syllabe, et ce quel que soit le contexte lexical. 
<br>
<br>
L’utilisation de la ponctuation, qui en langue française remplace convenablement les interjections japonaises, est tout à fait possible. 
<br>
<br>
Sans en faire une contrainte de style, il n'est pas recomandé de chercher à faire rimer les temps de son haiku. Il s'agit d'un poème en un seul vers et non d'un poème de plusieurs minuscules vers, et l'adaptation francophone du genre perd beaucoup à oublier cette distinction. 
<br>
<br>
On fait traditionnellement les distinctions suivantes :
<br>
-   Le <strong>haiku de circonstance</strong> parle d’un moment de la vie quotidienne. Si l’intervention d’images n’est pas proscrite, le haiku de circonstance reste avant tout l’expression du concret, souvent complété par une prise de recul humoristique proche du trait d’esprit à la française
<br>
-   Le <strong>haiku de saison</strong> a un rôle plus contemplatif : il s’agit de rendre compte d’un moment esthétique, un peu à la manière des impressionnistes. Dans les canons japonais, le haiku de saison comprend nécessairement un « mot saison » à savoir printemps, été, automne ou hivers.
<br>
-   Le <strong>senryu</strong> est plus libre sur le fond (thèmes plus variés) et sur la forme (seule la contrainte des 17 syllabes est à respecter, l’auteur peu du reste organiser ses temps comme il le souhaite, y compris s’en tenir à un seul temps).
<br>
<br>
Pour les besoins du site, on rajoutera une catégorie et une nuance :
<br>
-   Le <strong>haiku de sagesse</strong>, qui respecte la forme du haiku en s’autorisant une remarque plus ou moins profonde, à condition de la teinter d’humour
<br>
-   Le <strong>senryu</strong> sera ici considéré avec la plus grande liberté sur les thèmes, la gravité sera tolérée sous cette seule forme.
        </p>
<br>
      <h2>Poster un Haiku</h2> 
<br>
        <p style="text-align: justify;">
           Quelques règles simples :
<br>
-   Titre <strong>IMPERATIVEMENT</strong> parmi la liste suivante (en minuscules) : haiku de circonstance, haiku de sagesse, haiku de saison, senryu
<br>
-   Le texte du post ne doit comporter que le haiku, pour conserver le caractère épuré du temple.
 
        </p>
<br>
      <h2>Politique de modération</h2>
<br>
        <p style="text-align: justify;">
           La modération sera stricte sur le respect du fond et de la forme. Si un post contrevient à une règle de fond ou de forme, les modérateurs l’éditeront en détaillant le(s) point(s) d’attention. L’auteur aura alors un délai raisonnable pour lui-même contre-éditer son post en se conformant aux règles rappelées par les modérateurs. Passé ce délai, le post sera effacé.   
        </p>
<br>
      <h2>Forum</h2>
<br>
        <p style="text-align: justify;">
            Le forum est ouvert pour exprimer son admiration pour un auteur ou un post, ainsi que pour toute discussion qui semblera opportune à la communauté.
<br>
<br>
<strong>IMPERATIF</strong> : tout post sur le forum doit avoir pour titre, en minuscules : forum 
<br>
<br>
Pour apporter une touche de sublime à leur journée, les auteurs ou lecteurs qui s’expriment sur le forum ont la possibilité de travailler leur style. L’effet recherché est celui du carnaval de Venise : les identités sont masquées, et il ne reste que le sublime d’un instant à jalouser. 
<br>
<br>
Sur le forum, la politique de modération sera néanmoins laxiste. 
        </p>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}